{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
    <div class="container-md">
        <div class="jumbotron bg-primary text-light">
            <h2>Vous souhaitez vous inscrire</h2>
        </div>
    </div>
{% endblock %}
